---
import posts from "../collections/content/post.json";

const { count } = Astro.props;

const postsLoop = posts.slice(0, count);
---

{
  postsLoop.map((post) => {
    return (
      <div
        onclick={`location.href = '${post.link}'`}
        class="relative border border-transparent cursor-pointer p-7 group rounded-2xl"
      >
        <div class="absolute inset-0 z-20 w-full h-full duration-300 ease-out bg-cream border border-transparent dark:bg-rock rounded-2xl group-hover:-translate-x-1 group-hover:-translate-y-1" />
        <div class="absolute inset-0 z-10 w-full h-full duration-300 ease-out border border-transparent rounded-2xl group-hover:translate-x-1 group-hover:translate-y-1" />
        <div class="relative z-30 duration-300 ease-out group-hover:-translate-x-1 group-hover:-translate-y-1">
          <h2 class="flex items-center mb-1">
            <a
              href={post.link}
              class="text-xl font-futuraExtraBold leading-tight tracking-normal sm:text-2xl text-rock dark:text-gasoline"
            >
              {post.title}
            </a>
          </h2>
          <div class="flex flex-row space-x-4 font-futuraBook text-small text-grey dark:text-neutral-400">
            <p>{post.dateFormatted}</p>
            <p>12 words </p>
            <p>10 min </p>
          </div>
          <div class="my-2">
            <p class="font-futuraMedium text-lg text-rock dark:text-cream">{post.description}</p>
          </div>
        </div>
      </div>
    );
  })
}
