---
import Layout from "./main.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="relative z-30 max-w-4xl pb-1 mx-auto mt-10 bg-cream dark:bg-rock md:rounded-t-md text-rock dark:text-cream">
    <div class="relative flex flex-col px-6 pt-10 md:pt-20 lg:px-0 justify-stretch md:rounded-t-2xl border-gasoline dark:border-cream">
      <div class="absolute top-0 left-0 hidden w-px h-full mt-1 -translate-x-px md:block bg-gradient-to-b from-transparent to-cream dark:to-rock"></div>
      <h1 class="w-full max-w-2xl mx-auto font-futuraExtraBold leading-snug tracking-tight text-left mb-2 md:mb-5 text-4xl text-rock dark:text-gasoline lg:text-5xl md:leading-none">
        {frontmatter.title}
      </h1>
      <div class="w-full max-w-2xl mx-auto font-futuraBook text-left flex flex-row space-x-4 text-grey dark:text-neutral-400">
        <p>{frontmatter.dateFormatted}</p>
        <p>{frontmatter.wordCount}</p>
        <p>{frontmatter.readingTime}</p>
      </div>
    </div>
    <article class="w-full max-w-2xl break-words leading-normal font-futuraMedium text-rock dark:text-cream mx-auto mb-20 prose prose-xl px-7 lg:px-0 dark:prose-invert prose-headings:font-futuraDemi prose-headings:text-rock prose-headings:dark:text-cream prose-headings:mb-6 prose-headings:mt-12 prose-code:text-rock prose-code:dark:text-gasoline prose-code:before:hidden prose-code:after:hidden prose-inline-code:rounded prose-inline-code:border prose-inline-code:border-gray-300 dark:prose-inline-code:border-gray-600 prose-inline-code:bg-gray-100 dark:prose-inline-code:bg-rock prose-inline-code:px-1 prose-inline-code:py-0.5 prose-inline-code:text-base prose-inline-code:lg:text-base">
      <slot />
    </article>
  </main>
</Layout>
